<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">About</h1>
</div>

<div class="align-items-center">
  <img src="img/about_us.jpg" alt="Laptop" width="90%" height="70%" />
  <p>Photo of our team.</p>
</div>

<div class="pt-3">
  <p>
    This is a simple parcel delivery system developed as part of pedagogic
    project.
  </p>
  <p>
    Check out the source code at
    <a href="git@github.com:antonymica/parcel-delivery.git">Github link</a>
  </p>
</div>
